@charset "UTF-8";

 
.icon-export:before { content: '\e715'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-calendar:before { content: '📅'; } /* '\1f4c5' */
.icon-clock:before { content: '🕔'; } /* '\1f554' */